.list-item {
	align-items: center;
    background-color: white;
    margin-top: 4rem;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
    border: black;
    border: solid;
    height: 20rem;
    color: black;
    font-family: cursive;
    font-size: 21px;
    font-weight: 600;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    cursor: pointer;
	background-repeat: round;
}
.list-item:hover {
    cursor: pointer;
    border-style: solid;
    border-color: brown;
    color: brown;
}

.birthday-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
  }
  
  .blockss-birth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .list-item {
    flex: 0 0 30%;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .category-title {
    background-color: white;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .vendor-details {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .vendor-item {
    width: 45%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }
  
  .vendor-item h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .vendor-item p {
    margin: 5px 0;
    font-size: 16px;
  }  
